{% include 'default/header.html.twig' %}

    {# CONTENT-WRAPPER SECTION START #}
        <div class="container" style="width:400px;">
            <div class="row">
                <div class="col-md-6">
                   Use cases: Student (employed)
                   <br />
                    • can see job description for their placement
                   <br />
                    • can see the deails of the CV submitted for the placement

               </div>
           </div>
       </div>
   {# CONTENT-WRAPPER SECTION END #}
 
{% include 'default/footer.html.twig' %}
