       
      {% include 'default/header.html.twig' %}

{# CONTENT-WRAPPER SECTION START #}
<div class="container"  >
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-head-line">Job Title: {{ title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       
      <div class="panel panel-default">
        <div class="panel-body">
            {{ description | raw }}
        </div>
      </div>
    </div>
  </div>
 
</div>
{# CONTENT-WRAPPER SECTION END #}

{% include 'default/footer.html.twig' %}
