{% include 'default/header.html.twig' %}

    {# CONTENT-WRAPPER SECTION START #}
        <div class="container" style="width:400px;">
            <div class="row">
                <div class="col-md-12">
                    <p>
                      The placement lecturer needs a way to give feedback to students about their CVs - sometimes general feedback to all students, sometimes individual feedback to a student. 
The feedback (to all or just one) may be an overall comment about CVs, or about a particular section of the CV.
Employers send details about jobs to the placement lecturer at ITB.

                    </p>
                </div>
            </div>
       </div>
   {# CONTENT-WRAPPER SECTION END #}
 
{% include 'default/footer.html.twig' %}
